
<div  class="container">
<h1>Welcome to Swan F.C. "Home of the Swans"</h1>
<img style= height:300px; width:1000px; src="images/SwanFC-Logo3.png" class="mx-auto d-block">
</div>

<div class="container">
<h2>Mission Statement</h2>
<p>Thank you for visiting our brand spanking new page which will bring you all the latest news, fixtures, results, and more of our beloved Swans. 
We are thoroughly committed to furthering the clubs prestige and success by making it as easy to follow the Swans as possible and also fostering a sense of community around the club.
To that end we have set up this lovely new site which will provide information such as fixtures/results, membership packages, contact details for administrative staff, lovely merchandise, etc.</p>
</div>

<div class="container">
<h3>Latest News/Updates</h3>
<table style="height:200px; width:1000px;">
   <tr>
	<th>We have great news to deliver just now! The renovation works which have been taking place at Terryland Park have now been completed. 
            There will be no disruption to the upcoming fixtures listed below.</th>
   </tr>

   <tr>
	<th>Following on from the previous point, we will hold a training session in Terryland Park before the Dundalk game. 
            This will take place on Thursday the 3rd. Come and show your support for the Swans!</th>
   </tr>

   <tr>
	<th>More fixtures will follow as the FAI publish the full fixtures list on October 15th.
	    We will then list them in the fixtures list.</th>
   </tr>
</table>
</div>



<div class="container">
<h3>Upcoming Fixtures</h3>
<table style="height:200px; width:1000px;">
   <tr>
	<th>Swans V Galway Utd(H)</th> 
	<th>Date and Time: Sun. 22nd Sep. 2019, K.O.: 16:00</th>
	<th>Venue: Terryland Park</th>
	<th>A disappointing defeat for us. A close game for the full 90 minutes, but Galway Utd showed their class with a tidy finish by Duffy in the 79th minute.</th>
	<th>Form: LWDL</th>
	<th>Result: 0-1
   </tr>

   <tr>
	<th>Cork City V Swans(A)</th>
	<th>Date and Time: Sat. 28th Sep. 2019, K.O.: 20:00</th>
	<th>Venue: Turner's Cross</th>
	<th>Great bounce-back by the lads in what was a tough encounter down at Turner's Cross. Luckily Gonzales had his shooting boots on and his decider was a true worldy!</th>
	<th>Form: WWDW</th>
	<th>Result: 1-2</th>
   </tr>
	
   <tr>
	<th>Swans V Dundalk(H)</th>
	<th>Date and Time: Fri. 4th Oct. 2019, K.O.: 19:00</th>
	<th>Venue: Terryland Park</th>
	<th>Should be a thrilling match-up between McGinley's Swans and Thompson's Dundalk. Expect plenty of goals in this one.</th>
	<th>Form: LLD</th>
	<th>Result: TBD</th>
   </tr>

   <tr>
	<th>Finn Harps V Swans(A)</th>
	<th>Date and Time: Sat. 12th Oct. 2019, K.O.: 18:00</th>
	<th>Venue: Finn Park</th>
	<th>Hopefully another win can be secured in Donegal at Finn Park.</th>
	<th>Form: WDW
	<th>Result: TBD</th>
   </tr>

   <tr>
	<th>Swans V St. Patrick's Athletic(H)</th>
	<th>Date and Time: Sun. 20th Oct. 2019, K.O: 16:00</th>
	<th>Venue: Terryland Park</th>
	<th>Big game at Terryland this one. Swans looking confident this campaign and will hope to arrest the current trend in this fixture.</th>
	<th>Form: LLL</th>
	<th>Result: TBD</th>
   </tr>

   <tr>
	<th>Bohemians V Swans(A)</th>
	<th>Date and Time: Sat. 26th Oct. 2019, K.O.: 14:00</th>
	<th>Venue: Dalymount Park</th>
	<th>This fixture is always close and though there haven't been many goals in the last few outings, expect a hard fight.</th>
	<th>Form: DDW</th>
	<th>Result: TBD</th>
   </tr>

   <tr>
	<th>Swans V Waterford(H)</th>
	<th>Date and Time: Sun. 3rd Nov. 2019, K.O.: 17:00</th>
	<th>Venue: Terryland Park</th>
	<th>Should be a thrilling game when McGinley and co welcome Waterford.</th>
	<th>Form: WDW</th>
	<th>Result: TBD</th>
   </tr>
 </table>
</div>
</div>
</div>



<div class="container">
<h3>Swan Personel</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
	<p>Chairperson: This is the ever enigmatic Roland Cyprus. 
	As handsome as he is sharp, he will lead the cub into the new age.
	Although he still likes and watches Serie A, we'll give him the benefit of the doubt on that score! ;)
	To the right is a picture of him swaning about Italy...Get it? SWANING about?</p>
	<a><img style="height:300px; width:300px; border:0px;" src="images/Milan.jpg" class="rounded-circle img-fluid"></a>
	</div>
	<div class="col-sm">
	<p>Secretary: The lovely Anne Connelly.
	She has made sure that all of the nuts and bolts of the clubs everyday workings have lined-up just right.
	From making sure the kits have come in to planning permission meetings, she gets things done, with a capital 'D'!</p>
	<a><img style=height:300px; width:300px; src="images/Secretary.jpg" class="rounded-circle img-fluid"></a>
	</div>

	<div class="col-sm">
	<p>Treasurer: Our bullish Wall Street type, Seamus.
	He has a flair for numbers and Fry's chocolate bars.
	He makes sure that the books balance and keeps your club in 'tip-top' for ye!
	Here he is</p>
	<a><img style=height:300px; width:300px; src="images/Gordon.jpg" class="rounded-circle" img-fluid"></a>
     </div>
   </div>
</div>


<div class="jumbotron">
  <h1 class="display-4">Comment Us!</h1>
	<form name="Form">
		<div class="formBox">
			<label for="user">Username</label>
			<input type="text" id="username" placeholder="@myUser"/> 
		</div>

		<div class="textarea">
			<label for="com">Comment</label>
			<input type="text" id="comment" style="height:50px; width:800px;" placeholder="Your comment. Talk to us!"/>
		</div>
		<div>
			<button id="display" type="button" class="btn btn-danger" onclick="displayUserComment()">Post comment</button>
		</div>
	</form>	
</div>	

<div id ="clientSideContent">

</div>

<div class="formBox">

<div class="container">
<footer>
<h3>Links</h3>
<a href="https://www.joe.ie" target="_blank">Joe.ie</a>
<a href="https://www.sseairtricityleague.ie/competition/premier-division/id-025K45JJ4G000002VUM100GLVVH56HPG-G" target="_blank">Airtricity League Website</a>
<a href="https://www.youtube.com/" target="_blank">Youtube</a>
<a href="http://www.soccer-ireland.com/" target="_blank">Soccer Ireland</a>
<a href="https://www.ticketmaster.ie/republic-of-ireland-tickets/artist/1123642" target="_blank">Ticketmaster</a>
</footer>
</div>
</div>