<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' />
	<script src="/javascripts/SwanJS2(CommentForm).js"></script>
  </head>
  <body>
    {{{body}}}
	<a href='http://danu7.it.nuigalway.ie:8515/'>Home</a>
  </body>
</html>



